* {
    margin: 0;
    border: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    border: 1px solid #828282;
    display: flex;
    width: 200px;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
}

.item {
    background-color: tomato;
    margin: 5px;
}