* {
    margin: 0;
    border: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    border: 1px solid #828282;
    display: flex;
    width: 500px;
}

.item {
    background-color: tomato;
    margin: 5px;
}

.primeiro {
    flex-grow: 0;
    width: 200px;
}

.segundo {
    flex-grow: 2;
}