* {
    margin: 0;
    border: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    border: 1px solid #828282;
    display: flex;
    width: 200px;
    height: 300px;
    flex-wrap: wrap;
    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
}

.item {
    background-color: tomato;
    margin: 5px;
}