* {
    margin: 0;
    padding: 0;
    border: 0;
}
.container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-around;
    align-content: space-between;
    align-content: stretch;

    width: 200px;
    border: 1px solid #828282;
    height: 200px;
}

.item {
    background-color: tomato;
    margin: 5px;
}